<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div class="container">
    <div class="d-flex flex-row-reverse mb-4">
        <a class="btn btn-primary" href="/post/add">글쓰기</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>글번호</th>
            <th>제목</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.postId}"></td>
            <td><a th:text="${post.title}" th:href="'/post/' + ${post.postId}"></a></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination" th:with="total=${posts.getTotalPages()}, nowPage=${posts.getNumber() + 1}, startPage=${(nowPage - 2) > 0 ? nowPage - 2 : 1}, endPage=${total == 0 ? 1 : (nowPage + 2 <= total ? nowPage + 2 : total)}">
            <li class="page-item" th:if="${startPage > 1}">
                <a class="page-link" th:href="@{posts(page=${startPage - 2}, size=${posts.getSize()})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:text="${page}" th:classappend="${page == nowPage} ? active" th:href="@{posts(page=${page - 1}, size=${posts.getSize()})}"></a>
            </li>
            <li class="page-item" th:if="${endPage < total}">
                <a class="page-link" th:href="@{posts(page=${endPage}, size=${posts.getSize()})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
